// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
  over: #F5E0B1
  selected: #A8968F
  more : 363E49
  more : 202535
  more : 16172C
*/
body {
  font-size: 16px;
}
.mo-secondary {
  padding:1em;
}
.mo-sidebar-left {
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 16em !important;
    padding: 1.6em 1.6em 3em 1.6em;
    overflow:auto;
    background-color: #363E49;
    color: #ffffff;
}
.mo-sidebar-left + .mo-main {
    padding-left:16em
}
.mo-sidebar-left .uk-navbar-dropdown-nav .uk-nav-header {
  color: #ffffff;
  font-size:0.7em;
}
.mo-sidebar-left .uk-navbar-dropdown-nav > li > a {
  border-radius: 3em;
  padding-left: 1em;
  color: #999999;
}
.mo-sidebar-left .uk-navbar-dropdown-nav > li > a:hover {
  color:#F5E0B1;
}
.mo-sidebar-left .uk-navbar-dropdown-nav > li.uk-active > a {
  background-color: #F5E0B1;
  color: #363E49;
}
.mo-sidebar-left .uk-navbar-dropdown-nav > li.uk-active > a:hover {
  color: #363E49;
}
.mo-sidebar-left .mo-user-account {
    padding: 1.6em;
    font-size:0.7em;
    color:#999999;
}


.mo-main {

}
.mo-main .mo-account {
  padding:1em;
  padding-right:28em
}
.mo-main .mo-account .mo-account-header {
  border-bottom: 2px #A8968F solid;
  position: relative;
}
.mo-main .mo-account .mo-account-header h1.uk-h1 {
  color:#A8968F;
}
.mo-main .mo-account .mo-account-header .mo-links {
  display: inline-block;
}
.mo-main .mo-account .mo-account-header .mo-links ul {
  padding-left: 0;
  margin-bottom: 0.4em;
}
.mo-main .mo-account .mo-account-header .mo-links li {
  display: inline-block;
  padding-right: 1em;
}
.mo-main .mo-account .mo-account-header .mo-settings {
  display: inline-block;
  position: absolute;
  right:0;
  bottom:0.4em;
}
.mo-main .mo-account .mo-account-header .mo-settings .mo-label {
  margin-right: 0.4em;
}
.mo-main .mo-account .mo-account-header .mo-settings .uk-button {

}
.mo-main .mo-account .mo-account-header .mo-solde-total {
  display: block;
  position: absolute;
  right: 0;
  top: 0.6em;
  font-size: 1.6em;
}
.mo-main .mo-account .mo-current-entries,
.mo-main .mo-account .mo-upcoming-entries {
    margin-right:28em;
}
.mo-main .mo-account .mo-current-entries {
  margin-left:1em;
  top:142px;
  bottom:360px;
}
.mo-main .mo-account .mo-upcoming-entries-header{
  position: absolute;
  left:1em;
  right: 28em;
  bottom:310px;
  border-bottom: 2px #A8968F solid;
  text-align: right;
  padding-bottom:0.3em;
}
.mo-main .mo-account .mo-upcoming-entries-header .mo-solde-futur {
  font-size: 1.2em;
}
.mo-main .mo-account .mo-upcoming-entries {

  margin-left:1em;
}



.mo-sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 28em !important;
    padding: 2em 2em 3em 2em;
    overflow:auto
}
.mo-sidebar-right .flatpickr-input {
  display: none;
}
.mo-sidebar-right .flatpickr-calendar {
  box-shadow: none;
  font-size: 0.8em;
}
.mo-sidebar-right .flatpickr-calendar::before,
.mo-sidebar-right .flatpickr-calendar::after {
  display: none;
}
.mo-sidebar-right .flatpickr-calendar .flatpickr-day:hover {
  background-color: #F5E0B1;
}
.mo-sidebar-right .flatpickr-calendar .flatpickr-day {
  border: 3px transparent solid;
  line-height: 2.8em;
}
.mo-sidebar-right .flatpickr-calendar .flatpickr-day.today {
  border: 3px #F5E0B1 solid;
}
.mo-sidebar-right .flatpickr-calendar .flatpickr-day.selected {
  background-color: #A8968F;
}
.mo-sidebar-right  .actions .uk-button {
  margin-right: 1em;
}




.mo-account a.uk-flex.uk-flex-row {
  padding: 0.2em;
  color: #666666;
  font-size: 0.9em;
}
.mo-account .uk-flex.uk-flex-row:hover,
.mo-account .uk-flex.uk-flex-row.om-even:hover,
.mo-account .uk-flex.uk-flex-row.om-odd:hover,
.mo-account .uk-flex.uk-flex-row.om-selected:hover,
.mo-account .uk-flex.uk-flex-row.om-even.om-selected:hover
.mo-account .uk-flex.uk-flex-row.om-odd.om-selected:hover {
  text-decoration: none;
  background-color: #F5E0B1;
}
.mo-account .uk-flex.uk-flex-row.om-selected,
.mo-account .uk-flex.uk-flex-row.om-even.om-selected,
.mo-account .uk-flex.uk-flex-row.om-odd.om-selected {
  background-color: #A8968F;
  color: #fff;
}
.mo-account .uk-flex.uk-flex-row.om-even {
  background-color: #f5f5f5;
}
.mo-account .uk-flex.uk-flex-row.om-odd {
}
.mo-account .uk-flex.uk-flex-row .mo-checked {            width: 3%;  }
.mo-account .uk-flex .uk-flex-column.mo-effective-date {  width: 11%; }
.mo-account .uk-flex .uk-flex-column.mo-category {        width: 23%; }
.mo-account .uk-flex .uk-flex-column.mo-comment {         width: 29%; }
.mo-account .uk-flex .uk-flex-column.mo-check-number {    width: 11%; }
.mo-account .uk-flex .uk-flex-column.mo-label {           width: 11%; }
.mo-account .uk-flex .uk-flex-column.mo-value {           width: 12%; }

.mo-main .mo-account .mo-current-entries .uk-label,
.mo-main .mo-account .mo-upcoming-entries .uk-label {
  font-size: 0.6em;
  background: #dddddd;
  color:#666666;
}
.mo-main .mo-checked-entry {
  display: inline-block;
  width:0.6em;
  height: 0.6em;
  margin-left: 0.3em;
  background: #dddddd;
  border-radius: 1em;
}
.mo-main .mo-checked-entry.checked {
  background: #666666;
}


.positive_value {
  color: #ffffff;
  background: #3dbf6e;
  border-radius: 3em;
  padding: 0.1em 0.3em;
}
.negative_value {
  color: #cb584c;
  padding: 0.1em 0.3em;
}
.uk-badge.mo-badge-warning {
  background-color: #F5E0B1;
  color: #A8968F;
  /*
    over: #F5E0B1
    selected: #A8968F
    more : 363E49
    more : 202535
    more : 16172C
  */
}
.mo-account .uk-flex.uk-flex-row.om-selected .negative_value {
  background: #ffffff;
  border-radius: 3em;
}

.field_with_errors .uk-input {
  border: 1px red solid;
  background-color: pink;
}


/*
 * Tablet & Laptop
 */
@media only screen and (min-width: 800px) and (max-width: 1399px) {
  body {
    font-size: 15px;
  }
  .mo-secondary {
    margin-top:3.5em;
  }
  .mo-sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    height:auto !important;
    box-sizing: border-box;
    width: 100% !important;
    padding: 0.5em;
    overflow:none;
    z-index: 999;
  }
  .mo-sidebar-left .uk-nav li {
    display: inline-block;
  }
  .mo-sidebar-left .uk-nav li a {
    padding-right: 1em;
  }
  .mo-sidebar-left li.uk-nav-header {
    display: none;
  }
  .mo-sidebar-left li.mo-first-settings-entry {
    margin-left: 5em;
  }
  .mo-sidebar-left .uk-position-bottom-left.mo-user-account {
    right:0;
    left:auto;
  }
  .mo-sidebar-left + .mo-main {
      padding-left:0;
  }
  .mo-main .mo-account {
      padding-right:23em;
      padding-top: 3.5em;
  }
  .mo-main .mo-account .mo-account-header h1.uk-h1 {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  .mo-main .mo-account .mo-account-header .mo-solde-total {
    top: 0.1em;
    font-size: 1.2em;
  }
  .mo-main .mo-account .mo-account-header .mo-links,
  .mo-main .mo-account .mo-account-header .mo-links .uk-button,
  .mo-main .mo-account .mo-account-header .mo-settings,
  .mo-main .mo-account .mo-account-header .mo-settings .uk-button {
    font-size: 0.86em;
  }
  .mo-main .mo-account .mo-account-header .mo-settings {
    bottom: 0;
  }
  .mo-main .mo-account .mo-account-header .mo-settings .uk-button {
    line-height: 2em;
    margin-bottom: 0.3em;
  }
  .mo-main .mo-account .mo-current-entries,
  .mo-main .mo-account .mo-upcoming-entries {
      margin-right:23em;
  }
  .mo-main .mo-account .mo-current-entries {
    top:128px;
    bottom:260px;
  }
  .mo-main .mo-account .mo-upcoming-entries-header {
    right:23em;
    bottom: 210px;
  }
  .mo-main .mo-account .mo-upcoming-entries.uk-height-medium {
    height: 200px;
  }
  .mo-sidebar-right.uk-height-1-1 {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 24em !important;
  }
  .mo-sidebar-right.uk-height-1-1 .uk-card-header,
  .mo-sidebar-right.uk-height-1-1 .uk-card-body {
    padding: 1em;
  }
  .mo-sidebar-right.uk-height-1-1 .uk-card-body {
    padding-top: 0;
  }
  .mo-sidebar-right.uk-height-1-1 .uk-card-header {
    padding-top: 4em;
  }
  .mo-sidebar-right.uk-height-1-1 .uk-card-header h3.uk-h3 {
    font-size: 1.2em;
  }


}
