<div class="uk-position-center">
  <div class="uk-card uk-card-default uk-card-large uk-card-hover">
      <div class="uk-card-header">
        <h1 class="uk-card-title">Ajouter une nouvelle catégorie</h1>
      </div>
      <div class="uk-card-body">
        <%= render 'form', category: @category %>
        <hr />
        <%= link_to 'Annuler', categories_path, class: "uk-button uk-button-default" %>
      </div>
  </div>
</div>
