<div class="uk-position-center">
  <div class="uk-card uk-card-default uk-card-large uk-card-hover">
      <div class="uk-card-header">
        <h1 class="uk-card-title">Renommer le compte</h1>
      </div>
      <div class="uk-card-body">
        <%= render 'form', account: @account %>
      </div>
      <div class="uk-card-footer">
        <%= link_to 'Annuler', @account, class: "uk-button uk-button-text" %>
      </div>

  </div>
</div>
